<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FREECRM  DEMO">
    <test name="FREECRM TestDemo">
        <classes>

            <class name="com.crm.qa.testcases.LandingPageTest"/>
            <class name="com.crm.qa.testcases.LoginPageTest"/>
            <class name="com.crm.qa.testcases.SignUpPageTest"/>
            <class name="com.crm.qa.testcases.HomePageTest"/>
            <class name="com.crm.qa.testcases.ContactPageTest"/>
        </classes>
    </test>
</suite>

